/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  font-size: 16px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  cursor: pointer;
}

.text-inherit {
  color: #212529;
}

.smooth-shadow-sm {
  box-shadow:
    0 2px 4px rgba(0, 0, 20, 0.08),
    0 1px 2px rgba(0, 0, 20, 0.08) !important;
}

.smooth-shadow-md {
  box-shadow:
    0 1px 2px rgba(21, 30, 40, 0.07),
    0 2px 4px rgba(21, 30, 40, 0.07),
    0 4px 8px rgba(21, 30, 40, 0.07),
    0 8px 16px rgba(21, 30, 40, 0.07),
    0 16px 32px rgba(21, 30, 40, 0.07),
    0 32px 64px rgba(21, 30, 40, 0.07) !important;
}

.smooth-shadow-lg {
  box-shadow:
    0 1px 1px rgba(21, 30, 40, 0.11),
    0 2px 2px rgba(21, 30, 40, 0.11),
    0 4px 4px rgba(21, 30, 40, 0.11), 0 8px 8px rgba(21, 30, 40, 0.11),
    0 16px 16px rgba(21, 30, 40, 0.11),
    0 32px 32px rgba(21, 30, 40, 0.11) !important;
}


/*override bootstrap styles*/
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-dark);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*override material*/
.mat-drawer-container {
  color: var(--bs-dark) !important;
}

mat-spinner{
  width: 40px !important;
  height: 40px !important;
}
mat-spinner svg {
  width: 40px !important;
  height: 40px !important;
}
mat-spinner svg circle {
  stroke-width: 5% !important;
}
